[submodule "project/libs/SDL"]
	path = project/libs/SDL
	url = https://github.com/libsdl-org/SDL
	shallow = true
[submodule "project/libs/openal-soft"]
	path = project/libs/openal-soft
	url = https://github.com/kcat/openal-soft
	shallow = true
[submodule "project/libs/neko"]
	path = project/libs/neko
	url = https://github.com/HaxeFoundation/neko
	shallow = true
[submodule "project/libs/hashlink"]
	path = project/libs/hashlink
	url = https://github.com/HaxeFoundation/hashlink
	shallow = true